@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans:wght@100&family=Open+Sans:wght@300&family=Oswald:wght@200&display=swap');

:root{
    --header-font:"Oswald",sans-serif;
    --header-font-weight:lighter;
    --text-font:"Noto Sans",sans-serif;
    --special-font:"Dancing Script",sans-serif;
}

body{
    background:linear-gradient(#cff,#fcc);
    background-attachment:fixed;
    background-repeat: no-repeat;
}

/*Navigation bar*/
nav{
    display:flex;
    border-bottom: 1px solid black;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
nav header h1{
    font-family:var(--header-font);
    font-weight:var(--header-font-weight);
    text-decoration:underline;
    margin-left:50px;
}
nav ul{
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    width:450px;
    position:relative;
    left:290px;
    top:15px;
}
nav ul li a{
    font-family:var(--text-font);
    color:grey;
    font-size:17px;
    text-decoration: none;
    position: relative;
    transition: color .5s ease-in-out;
}
nav ul li a:hover{
    color:black;
}
nav ul li a::after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1px;
    background-color: black;
    transform: scale(0);
    transform-origin: bottom left;
    transition:transform 1s ease-in-out;
}
nav ul li a:hover::after{
    transform:scale(1);
    transform-origin: bottom left;
}

/*Sub-menu*/
#menu{
    position:absolute;
    left:250px;
    top:35px;
    display:flex;
    flex-direction: column;
    border-right:1px solid black;
    width:30%;
    line-height: 30px;
    opacity: 0;
    transform:translate3d(-25px,0,0);
    transition:opacity .5s ease-in-out,transform .5s ease-in-out;
}
#menu li{
    border-bottom:1px solid black;
    width:120px;
    margin:10px;
    margin-right:25px;
    padding-left:10px;
}
#has_menu:hover #menu{
    opacity: 1;
    transform:translate3d(0,0,0);
}
#has_menu::after{
    content:'>';
    font-weight:lighter;
    color:grey;
    margin-left:5px;
}

/*Intro*/
#intro{
    height:87.09vh;
}
#intro header{
    border-bottom:1px solid black;
    position:relative;
    top:220px;
    left:75px;
    width:550px;
    margin-left:50px;
    text-align: center;
    font-family: var(--text-font);
    font-size:20px;
    padding:20px;
    box-shadow: 10px 20px 5px 5px rgba(0,0,0,.3);
    border-radius:10px;
}
#intro header h2{
    font-family:var(--special-font) !important;
}
#social-icons{
    margin-top:15px;
    display:flex;
    margin:20px auto 0 auto;
    width:250px;
    justify-content: space-around;
}
#social-icons span{
    width:10px;
    height:1px;
    background-color: black;
    margin-top:15px;
}
#social-icons a{
    color:grey;
    transition:color .5s ease-in-out;
}
#social-icons a:hover{
    color:black;
}
#text{
    text-decoration: underline;
}
#line{
    width:300px;
    height:1px;
    background-color: black;
    margin:-10px auto 0 auto;
}

/*Intro images*/
#images{
    position:absolute;
    padding:10px;
    padding-right:30px;
    border-right:1px solid black;
    bottom:250px;
    left:65%;
    width:375px;
    height:250px;
}
#images img{
    width:auto;
    height:250px;
    object-fit: contain;
    border-right:1px solid black;
    border-radius:15px;
}
#images button{
    position: absolute;
}
#image p{
    text-align: center;
    font-family:var(--special-font);
    text-decoration:underline;
}
#image2{
    position:relative;
    bottom:310px;
    left:15px;
    z-index: -1;
}
#front,#back{
    background:transparent;
    transform:rotate(180deg);
    position:relative;
    font-size:25px;
    border:none;
    border-top:1px solid black;
}
#front:hover,#back:hover{
    cursor: pointer;
}
#front{
    top:115px;
    right:420px;
}
#front:hover{
    animation-name:front;
    animation-duration:.5s;
}
#back:hover{
    animation-name:back;
    animation-duration:.5s;
}
#back{
    top:115px;
    left:430px;
}

/*Animations*/
#front:hover,#back:hover,#more p:last-child::after{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes front{
    to{
        right:430px;
    }
}
@keyframes back{
    to{
        left:450px;
    }
}
@keyframes down{
    from{
        top:-5px;
    }
    to{
        top:20px;
    }
}

/*Intro more text*/
#more{
    position:absolute;
    bottom:30px;
    width:98.9%;
    text-align: center;
    font-family:var(--special-font);
}
#more p:last-child::after{
    content: url('./Images/icon-arrow-down.svg');
    position:relative;
    animation-name:down;
    animation-duration: 1s;
}

/*about*/
#about{
    position:relative;
    top:20px;
}
#text1{
    margin:0 auto;
    width:1250px;
    height:125px;
}
#Story1{
    width:350px;
    height:300px;
    position: relative;
    left:800px;
    bottom:40px;
}
#Story2{
    width:350px;
    height:300px;
    position:relative;
    left:100px;
}
#Story3{
    width:350px;
    height:300px;
    position:relative;
    left:900px;
}
#story1,#story2,#story3{
    width:auto;
    height:250px;
    border:1px solid black;
    border-radius: 25px;
}
#story2{
    float:left;
}
#story3{
    float:right;
}
#S1{
    height:400px;
}
#S2{
    height:400px;
}
#S3{
    height:400px;
}
#Text,#Text2,#Text3{
    width:600px;
    position:relative;
    top:150px;
    border-bottom:1px solid black;
}
#Text2{
    left:750px;
}
#Text3{
    left:100px;
}
#Text h2,#Text2 h2,#Text3 h2{
    text-align:center;
    font-family:var(--header-font);
}
#Text p,#Text2 p,#Text3 p{
    font-family:var(--text-font);
    line-height: 30px;
}
#line1,#line2,#line3,#line4,#line5{
    height:350px;
    position:absolute;
    width:2px;
    background-color: grey;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#line1{
    top:100px;
    margin-right:50px;
    right:0px;
}
#line2{
    height:1345px;
    width:2px;
    transform:rotate(90deg);
    top:-220px;
    right:723px;
}
#line3{
    height:450px;
    margin-left: 50px;
    top:455px;
    left:-25px;
}
#line4{
    height:1345px;
    transform:rotate(90deg);
    position:absolute;
    bottom:-340px;
    left:699px;
}
#line5{
    right:0px;
    height:400px;
    top:909px;
    margin-right:50px;
}

/*Features*/
#features{
    position:relative;
    top:135px;
}
#IntroText h3{
    margin-left:200px;
    font-family:var(--header-font);
    text-decoration: underline;
    font-weight: var(--header-font-weight);
    font-size:25px;
}
#IntroText p{
    font-family:var(--special-font);
    text-align:center;
    font-size: large;
}
#cards{
    width:1200px;
    display: flex;
    border-bottom:1px solid black;
    margin:0 auto;
    height:750px;
    padding:20px;
    justify-content: space-around;
}
#delivery,#personal,#loremip{
    width:300px;
    height:700px;
    border-radius:15px;
    border:1px solid white;
}
#delivery img,#personal img,#loremip img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    border-radius:15px;
    opacity:.5;
    transition: opacity .5s ease-in-out;
}
#delivery img:hover,#delivery:hover #info,#personal img:hover,#personal:hover #info2,#loremip img:hover,#loremip:hover #info3{
    opacity: 1;
}
#delivery:hover #info,#personal:hover #info2,#loremip:hover #info3{
    transform:translate3d(0,0,0);
}
#info,#info2,#info3{
    margin-left:10px;
    position:absolute;
    top:520px;
    width:280px;
    color:white;
    opacity: 0;
    transform:translate3d(0,125px,0);
    transition:opacity .5s ease-in-out,transform .5s ease-in-out;
}
#info h4,#info2 h4,#info3 h4{
    font-family: var(--special-font);
    font-size:20px;
    text-decoration: underline;
}
#info p,#info2 p,#info3 p{
    font-family:var(--text-font);
}

/*Contact*/
#contact{
    position: relative;
    top:170px;
    margin:10px;
}
#contact h1{
    text-align: center;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    text-decoration: underline;
}
#contact p{
    font-family:var(--special-font);
    text-align: center;
}
#divider{
    position: absolute;
    left:50%;
    width:1px;
    height:490px;
    background-color: black;
}
#container{
    margin:0 auto;
    display:flex;
    width:850px;
    height:500px;
    border-radius:25px;
    border-bottom:1px solid black;
    padding:20px;
}
form{
    line-height: 100px;
    position:relative;
    left:75px;
    top:90px;
}
form input{
    text-align: center;
    color:black;
    font-size:22px;
    background:transparent;
    font-family: var(--special-font);
    border:none;
    border-bottom:1px solid black;
}
form button{
    border:none;
    border-bottom: 1px solid black;
    font-family: var(--text-font);
    background: transparent;
    text-align: center;
    display: block;
    margin:50px auto 0 auto;
    font-size:17px;
}
form button:hover{
    cursor: pointer;
}
#straight{
    position: relative;
    left:350px;
    top:100px;
    line-height: 145px;
}
#straight button{
    font-family: var(--text-font);
    background: transparent;
    border-radius:50px;
    width:200px;
    font-size:15px;
    height:50px;
    text-align: center;
    transition:background-color .5s ease-in-out,color .5s ease-in-out;
}
#straight button:hover{
    background-color: black;
    cursor: pointer;
    color:white;
}

/*horizontal line*/
hr{
    position:relative;
    top:230px;
}
/*footer*/
footer{
    position:relative;
    top:200px;
    text-align:center;
    font-family:var(--special-font);
    padding:20px;
}